.container{
  background-image: url('https://i.ebayimg.com/images/g/DBAAAOSwPeRd-RUA/s-l640.jpg');
  width: 100rem;
}

.addRecipeForm {
  border: solid black 2px;
  margin: 12%;
  text-align: center;
  width: 75%;
  height: 75%;
  padding: 10%;
  background: white;

}

.addRecipe h2 {
  margin-bottom: 10%;
  font-size: 3rem;
  font-weight: bold;
  
}

.addRecipe {
  font-size: 1.25rem;
}

textarea {
  overflow: auto;
}





