.recipe-list{
  display: flex;
  flex-wrap: wrap; 
}

.card-container {
  width: 18rem;
  margin: 1rem;
}

.card-container {
  transition: transform 300ms;
  object-fit: cover;
}

.card-img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}


.card-container:hover {
  max-width: 100%;
  max-height: 100%;
  transform: scale(1.05);
}
