.recipe-list{
  display: flex;
  flex-wrap: wrap; 
}

.card-container {
  width: 18rem;
  overflow: hidden;
  margin: 1rem;
}

.card-img {
  transition: transform 300ms;
}

.card-img:hover {
  max-width: 100%;
  max-height: 100%;
  transform: scale(1.09);
}
