.page-container {
  margin: 3rem;
}

.recipe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  text-align: justify;
  max-width: 1100px;
}

.ingredients {
  width: 40%;
}
.directions {
  width: 50%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  max-width: 1100px;
}

@media only screen and (max-width: 760px) {
  .page-container {
    margin: 1rem;
  }

  .recipe-wrapper {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .ingredients {
    width: 90%;
  }
  .directions {
    width: 90%;
    margin-top: 1.2rem;
  }
}

.recipe-image-wrapper {
  width: 100%;
  display: absolute;
}
