.login-form{
  width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  background-color: white;

  box-shadow: 0 8px 6px -6px #262730;
    padding:2rem;
    border-radius: 8px;
    color: #262730;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07)
}

.label-input{
  text-align: justify;
  margin-bottom: 16px;
}