.form2 {
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 290px;
  position: absolute;
  top: 50%;
  background-color: #0999e9;
  padding: 35px;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
  border-radius: 25px;
}

.form2 h1 {
  margin-bottom: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.form2 a {
  color: black;
  text-decoration: underline;
}

#email2,
#password2 {
  display: inline-block;
  float: right;
}

.form2 #button2 {
  margin: 15px 0;
  color: black;
  border-radius: 25px;
}

.form2 #button2:hover {
  background-color: #f54c3c;
  border: #f54c3c;
}
